.main-bg {
    height: 70vh;
    background-color: antiquewhite;
}

.second-row {
    margin-top: 15px;
}

.brder {
    border-right: 1px solid grey;
    /* background-color: green; */
}

.mt {
    margin-top: 75px;
}

.btn:active{
    transform: scale(.93);
}

.btn:hover{
    background-color: green;
}

